name: Docs

on:
  push:
    branches: [main]
  release:
    types: [released]
  pull_request:
    types: [opened, synchronize]

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5

    - name: Setup Python
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: uv sync

    - name: Add venv to PATH
      run: echo "${{ github.workspace }}/.venv/bin" >> $GITHUB_PATH
      # NOTE: Otherwise the next action nukes the path when it starts

    - name: Ape Docs
      uses: apeworx/sphinx-ape@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
